! Urxvt
URxvt.buffered: true
!URxvt.cursorColor: #888888
URxvt.cursorBlink: true
URxvt.geometry: 80x22
URxvt.transparent: 0
URxvt.urgentOnBell: true
URxvt.letterSpace: 0
URxvt.lineSpace: 1
URxvt.internalBorder: 4

! borderless and no scrollbar
URxvt.scrollBar_right: false
URxvt.scrollBar: false
URxvt.borderLess: false

! enable scrolling in e.g. less
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! do not autoscroll when going back in buffer
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! disable Ctrl + Shift chars by isocode
URxvt.iso14755: false
URxvt.iso14755_52: false

! teh transparency stuff
!URxvt.inheritPixmap: true
!URxvt.tintColor: #6E6E6E
!URxvt.shading: 20

! Font settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

! -- Fonts -- !
!URxvt.font:xft:Inconsolata for Powerline:medium:size=16
!URxvt.boldFont:xft:Inconsolata Bold for Powerline:medium:size=16
!URxvt.font:xft:Droid Sans Mono Slashed for Powerline:size=14
!URxvt.font:xft:DejaVu Sans Mono for Powerline:size=14
!URxvt.boldFont:xft:DejaVu Sans Mono Bold for Powerline:size=14
URxvt.font:xft:Hack-Regular:medium:size=14
URxvt.boldFont:xft:Hack-Bold:medium:size=14

!! urxvt pearl extensions settings
URxvt.perl-ext-common: default,selection-to-clipboard,url-select,keyboard-select,resize-font,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
!URxvt.keysym.C-p: eval:paste_clipboard
!URxvt.keysym.C-c: eval:selection_to_clipboard
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset

!! Colours
!#include ".colours/lich"
!#include ".colours/dark"
!#include ".colours/jwrdark"
!#include ".colours/tomorrow"
#include ".colours/new"
!#include ".colours/ancient"
!#include ".colours/dawn"
!#include ".colours/gotham"
!#include ".colours/hybrid"
!#include ".colours/sweetlove"
!#include ".colours/pastel"
