"*":
  "atom-beautify":
    general:
      _analyticsUserId: "6464f95a-f146-448a-8699-9e672a395f16"
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 18
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "cc24bde8-41d9-d57d-fbd3-21653caeaff4"
  "linter-rubocop":
    command: "rubocop"
  "ruby-test":
    specFramework: "rspec"
  "todo-show":
    sortAscending: false
    sortBy: "Type"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
