[
  {
    title: "PlaySRG"
    group: ""
    paths: [
      "D:\\srg-player-web"
    ]
    icon: "icon-chevron-right"
    settings: {}
    devMode: false
    template: null
  }
  {
    title: "PlaySRG-node"
    group: ""
    paths: [
      "D:\\play-srg-web-v2"
      "D:\\srg-player-web"
    ]
    icon: "icon-chevron-right"
    settings: {}
    devMode: false
    template: null
  }
  {
    title: "RubyStyleguide"
    group: ""
    paths: [
      "D:\\labday\\patternlab-ruby"
    ]
    icon: "icon-chevron-right"
    settings: {}
    devMode: false
    template: null
  }
  {
    title: "coding-katas"
    group: ""
    paths: [
      "D:\\coding-kata"
    ]
    icon: "icon-chevron-right"
    settings: {}
    devMode: false
    template: null
  }
]
